//carousel
$carousel-control-width: 8%;

.carousel-control- {
  &prev, &next {
    width: $carousel-control-width;
  }

  &prev.carousel-control-ext {
    @include media-breakpoint-up(xl) {
      left: -$carousel-control-width;
    }
  }
  &next.carousel-control-ext {
    @include media-breakpoint-up(xl) {
      left: 100%;
    }
  }
}

.carousel-item-nested {
  @extend .carousel-item;
}
