$tints: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $name, $color in $colors {

  .swatch-#{$name} {
    background-color: #{$color};
    color: $white;
  }

  @each $tint in $tints {
    .bd-#{$name}-#{$tint} {
      color: $white;
      @if $tint == 100 {
        background-color: tint-color($color, 80%);
      }
      @if $tint == 200 {
        background-color: tint-color($color, 60%);
      }
      @if $tint == 300 {
        background-color: tint-color($color, 40%);
      }
      @if $tint == 400 {
        background-color: tint-color($color, 20%);
      }
      @if $tint == 500 {
        background-color: #{$color};
      }
      @if $tint == 600 {
        background-color: shade-color($color, 20%);
      }
      @if $tint == 700 {
        background-color: shade-color($color, 40%);
      }
      @if $tint == 800 {
        background-color: shade-color($color, 60%);
      }
      @if $tint == 900 {
        background-color: shade-color($color, 80%);
      }
    }
  }
}
