// inputs

input,
select,
.form-select,
.form-control:where(input) {
  border-radius: $border-radius-pill;
}

.input-group {
  > :not(:last-child), > :not(:first-child) {
    border-radius: $border-radius-pill;
  }
  > :not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  > :not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
