// logos
// Logo stuff probably belongs in child ucanr_edu
.img-anr-logo {
  height: 36px;
}

// gradients
.bg-gradient-mask-top {
  background:linear-gradient(#000, rgba(0,0,0,0));
}

// borders
// This is used for display titles
.border-bottom-gold-bar {
  &:after {
    @extend .bg-gold;
    @extend .mt-3;

    display: block;
    width: 50px;
    height: 4px;
    content: '';
  }

  &.text-center:after, .text-center &:after {
    margin: 0 auto;
  }

  &.text-end:after, .text-end &:after {
    margin-left: auto;
  }
}
