// icons
.rounded-icon {
  @extend .rounded-circle;

  background-color: $gray-200;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;

  &-lg {
    width: 35px;
    height: 35px;
    font-size: 1.4rem!important;
  }
}
