// images
.bg-img {
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.ratio > img {
  object-fit: cover;
}

.img-top {
  object-position: top center;
}

.img-center {
  object-position: center;
}
