// layout
.container-wrapper {
  @extend .container;
  @extend .px-0;
  @extend .px-xl-3;
  @extend .py-4;

  box-sizing:content-box;

  .container {
    @extend .py-1;
  }
}

// TODO: add more breakpoint options
.fluid-md-start {
  padding-left: 9999px!important;
  margin-left: -9999px!important;

  @include media-breakpoint-down(md) {
    padding-right: 9999px!important;
    margin-right: -9999px!important;
  }
}

.fluid-md-end {
  padding-right: 9999px!important;
  margin-right: -9999px!important;

  @include media-breakpoint-down(md) {
    padding-left: 9999px!important;
    margin-left: -9999px!important;
  }
}

// z-index
.z-index-n1 {
  position: relative;
  z-index: -1;
}

.z-index-1 {
  position: relative;
  z-index: 1;
}

// columns
.cols-lg-2 {
  @include media-breakpoint-up(lg) {
    columns: 2;
  }
}

.cols-xl-3 {
  @include media-breakpoint-up(xl) {
    columns: 3;
  }
}

.cols-xl-4 {
  @include media-breakpoint-up(xl) {
    columns: 4;
  }
}
