// list groups
.list-group-plain {
  .list-group-item {
    background-color: transparent;
    border: none;
    padding-top: .2em;
    padding-bottom: .2em;

    &:hover {
      background-color: rgba(0,0,0,.1);
    }
  }
}

.list-group-padded {
  .list-group-item {
    @extend .px-4
  }
}
