// animations
$transition-w: width .5s;
.transition-w {
  position: relative;
  transition: $transition-w;

  .transition-col-1 {
    width: 100%;
    flex: 0 0 auto;
    cursor: pointer;
  }

  .transition-col-2 {
    flex: 1 0 auto;
    //transition: flex 2s;
  }

  &.active {
    width: 50%;

    //.transition-col-2 {
    //    flex-shrink: 1;
    //}
  }
}

.transition-container-reverse {
  flex-direction: row-reverse;

  .transition-w {
    &:nth-child(1) {
      order: 4;
    }
    &:nth-child(2) {
      order: 3;
    }
    &:nth-child(3) {
      order: 2;
    }
    &:nth-child(4) {
      order: 1;
    }
  }
}
