// Define Sans Serif Web Font Vegur
@font-face {
  font-family: Vegur;
  src: url(../fonts/vegur/Vegur-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: Vegur;
  src: url(../fonts/vegur/Vegur-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: Vegur;
  src: url(../fonts/vegur/Vegur-Light.otf);
  font-weight: 100;
}

// Define Serif Web Font Libre Baskerville
@font-face {
  font-family: "Libre Baskerville";
  src: url(../fonts/libre-baskerville/LibreBaskerville-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: "Libre Baskerville";
  src: url(../fonts/libre-baskerville/LibreBaskerville-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Libre Baskerville";
  src: url(../fonts/libre-baskerville/LibreBaskerville-Italic.otf);
  font-weight: normal;
  font-style: italic;
}

// Headings
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: $blue;
  font-weight: bold;

  :where(a) {
    color: $anr-dark-blue;

    &:hover {
      color: $anr-dark-blue;
      text-decoration: underline;
    }

    &:active,
    &:focus {
      border-bottom: 1px dotted $anr-dark-blue;
      text-decoration: none;
    }
  }
}

// Display
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  color: $blue;
  font-weight: bold;
  position: relative;

  &--underline {
    margin-bottom: 2rem;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1rem;
      height: 5px;
      width: 4rem;
      background: $secondary;
    }
  }

  &--underline-center {
    margin-bottom: 2rem;
    text-align: center;

    &:before {
      content: '';
      position: absolute;
      left: calc(50% - 2rem);
      bottom: -1rem;
      height: 5px;
      width: 4rem;
      background: $secondary;
    }
  }

  &--underline-right {
    margin-bottom: 2rem;
    text-align: right;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      bottom: -1rem;
      height: 5px;
      width: 4rem;
      background: $secondary;
    }
  }
}

// Font sizes
.extra-small {
  font-size:.6em;
}

// Address type on dark background
:where(.type-on-dark) {
  color: $white;

  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: $white;

    :where(a) {
      &:hover,
      &:active,
      &:focus {
        color: $white;
      }
    }
  }

  a {
    color: $white;
    text-decoration: underline;

    &:hover {
      color: $white;
      text-decoration: none;
    }

    &:active,
    &:focus {
      color: $white;
      border-bottom-color: $white;
      text-decoration: none;
    }
  }

  .nav-link {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $white;
      text-decoration: underline;
    }

    &:active,
    &:focus {
      color: $white;
      background-color: $indigo-400;
    }
  }

  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .display-5,
  .display-6,
  .table,
  table,
  code,
  .text-muted {
    color: $white!important;
  }
}

.text-center {
  text-align: center;
}

.title-margin-b {
  margin-bottom: 4rem;
}

blockquote {
  padding-left: 1.5em;
  margin-bottom: 2rem;
  border-left: 5px solid $blue-500;
}