// sizing
.h-400p {
  height: 400px;
}

.w-md-200 {
  @include media-breakpoint-up(md) {
    width: 200%;
  }
}

.w-md-350 {
  @include media-breakpoint-up(md) {
    width: 350%;
  }
}

// position
.position-md-absolute {
  @include media-breakpoint-up(md) {
    position: absolute;
  }
}

.text-align-center {
  text-align: center;
}
