//-----------------------
// UCANR Custom Variables
//-----------------------

// Spacing
// Addition to Bootstrap Spacing 1-5
$custom-spacers: (
  6: $spacer * 6,
  10: $spacer * 10,
  15: $spacer * 15,
  20: $spacer * 20,
  25: $spacer * 25,
  30: $spacer * 30,
  35: $spacer * 35,
  40: $spacer * 40,
  50: $spacer * 50
);
$spacers: map-merge($spacers, $custom-spacers);
// Negative margins
// TODO: try to get this working in bootstrap per https://getbootstrap.com/docs/5.0/customize/options/
$negative-spacers: negativify-map($spacers);

// Colors
// TODO: At end of theming see if we can factor these out as they are not adhering to ANR brand guide.
$fourh-green: rgba(  0, 156,  92, 1.0);
$calnat-blue: rgba( 78, 136, 197, 1.0);
$igis-gold:   rgba(234, 160,  34, 1.0);
$ipm-green:   rgba(  0, 153,  77, 1.0);
$mg-blue:     rgba( 48, 109, 183, 1.0);
$rec-blue:    rgba( 24,  70, 134, 1.0);
$efnep-green: rgba(123, 194, 81, 1);
$mfp-purple:  rgba(66, 67, 96, 1);
// ANR Custom Colors
// TODO: Review
$custom-theme-colors: (
  'tertiary':   $anr-light-blue,
  'dark-blue':  $anr-dark-blue,
  'anr':        $anr-blue,
  'gold':       $anr-gold,
  'gray':       $gray-400,
  'gray-dark':  $gray-700,
  'gray-light': $gray-200,
  'tan':        adjust-color($anr-gold, $saturation: -40%, $lightness: 25%),
  'tan-light':  adjust-color($anr-gold, $saturation: -50%, $lightness: 35%),
  'red':        #ab312c,
  '4h':         $fourh-green,
  'cn':         $calnat-blue,
  'igis':       $igis-gold,
  'ipm':        $ipm-green,
  'mg':         $mg-blue,
  'rec':        $rec-blue,
  'ce':         $anr-blue,
  'efnep':      $efnep-green,
  'mfp':        $mfp-purple,
);
$theme-colors: map-merge($theme-colors, $custom-theme-colors);
// Add ANR secondary colors not used to override bootstrap colors
$custom-colors: (
  'brown': $anr-brown,
  'light-green': $anr-light-green,
  '4h-green': $anr-4h-green
);
$colors: map-merge($colors, $custom-colors);

// -------------------
// Bootstrap Overrides
//--------------------

// Links
$link-color:            $blue;
$link-decoration:       none;
$link-hover-color:      $blue;
$link-hover-decoration: underline;

// Body
// Settings for the `<body>` element.
$body-color:       $font-color;
$line-height-base: 1.65 ;
