///------------------------------------------------------
/// Set Custom and Override Bootstrap Variables
///------------------------------------------------------

//-----------------------
// UCANR Custom Variables
//-----------------------

// Typography
// Addition to Bootstrap san-serif definition
$font-family-serif: "Minion Pro", Minion, "Libre Baskerville", Times, "Times New Roman", serif;
$font-color: #3d3d47;
$font-size-base: 1.2rem;

// Colors
// UCANR Primary Color Pallet as defined at:
// https://ucanr.edu/sites/communicationstoolkit/Branding/Visual_Style_Guide/Fonts_and_colors/
$anr-blue:       #005fae !default;
$anr-gold:       #fdbd10 !default;
$anr-light-blue: #3aa8e4 !default;
$anr-blue-dark:  #1c2a51 !default; // This may be deprecated
// UCANR Secondary Color Pallet as defined at:
// https://ucanr.edu/sites/communicationstoolkit/Branding/Visual_Style_Guide/Fonts_and_colors/
$anr-red:           #ab312C !default;
$anr-green:         #67893e !default;
$anr-dark-blue:     #003c61 !default;
$anr-light-red:     #d76f40 !default;
$anr-blue-green:    #0aa9b3 !default;
$anr-brown:         #956c26 !default;
$anr-light-green:   #9fc54d !default;
$anr-yellow-orange: #f3cc30 !default;
$anr-orange:        #e39b30 !default;
$anr-gray:          #847d77 !default;
$anr-4h-green:      #339966 !default;
$anr-meta:          #874344 !default;

// -------------------
// Bootstrap Overrides
//--------------------

// Typography
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: Vegur, "Myriad Pro", Myriad, "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: bold;

// Colors
// Integrate UCANR Secondary Colors from:
// https://ucanr.edu/sites/communicationstoolkit/Branding/Visual_Style_Guide/Fonts_and_colors/
// Override theme colors
$primary:   $anr-blue;
$secondary: $anr-gold;
$success:   #198754;
$danger:    #dc3545;
$warning:   #f84d00;
$info:      #0dcaf0;
$dark:      #000; // Black
// Override bootstrap colors
$blue:   $anr-blue;
$indigo: $anr-dark-blue;
$pink:   $anr-light-red;
$red:    $anr-red;
$orange: $anr-orange;
$yellow: $anr-yellow-orange;
$green:  $anr-green;
$teal:   $anr-blue-green;
$cyan:   $anr-light-blue;
$gray:   $anr-gray;

$navbar-dark-color: #ffffff;
$navbar-dark-toggler-border-color: rgba(255, 255, 255, 0);
$form-check-input-checked-bg-color: $anr-dark-blue;
$breadcrumb-divider-color: $anr-gold;
$breadcrumb-active-color: $anr-blue;

// Grid containers
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1420px
);

