<div class="container mb-5">
    <div class="text-center pt-5 pb-4">
        <h2 class="py-4 border-bottom-gold-bar">Upcoming Events By UC ANR</h2>
        <p class="col-md-6 offset-md-3">Eiusmod occaecat quis qui cupidatat. Nostrud laborum dolore dolore quis ullamco. Sint aliquip exercitation fugiat laborum magna ipsum exercitation sint excepteur est do. Anim sunt velit magna exercitation veniam dolore sit nisi qui consequat.</p>
    </div>
    <div class="row g-5">
        <div class="col-md-3 text-center">
            <div class="ratio ratio-1x1 bg-img">
                <img src="images/sample/event1.jpg">
            </div>
            <p class="text-red small my-4">10 Feb 2020, San Francisco</p>
            <h4>Full Name Of Event Goes In This Area</h4>
            <p class="pt-4"><a href="#">Learn more <span class="iconify" data-icon="mdi-arrow-right-thick"></span></a></p>
        </div>
        <div class="col-md-3 text-center">
            <div class="ratio ratio-1x1 bg-img">
                <img src="images/sample/event2.jpg">
            </div>
            <p class="text-red small my-4">10 Feb 2020, San Francisco</p>
            <h4>Full Name Of Event Goes In This Area</h4>
            <p class="pt-4"><a href="#">Learn more <span class="iconify" data-icon="mdi-arrow-right-thick"></span></a></p>
        </div>
        <div class="col-md-3 text-center">
            <div class="ratio ratio-1x1 bg-img">
                <img src="images/sample/event3.jpg">
            </div>
            <p class="text-red small my-4">10 Feb 2020, San Francisco</p>
            <h4>Full Name Of Event Goes In This Area</h4>
            <p class="pt-4"><a href="#">Learn more <span class="iconify" data-icon="mdi-arrow-right-thick"></span></a></p>
        </div>
        <div class="col-md-3 text-center">
            <div class="ratio ratio-1x1 bg-img">
                <img src="images/sample/event4.jpg">
            </div>
            <p class="text-red small my-4">10 Feb 2020, San Francisco</p>
            <h4>Full Name Of Event Goes In This Area</h4>
            <p class="pt-4"><a href="#">Learn more <span class="iconify" data-icon="mdi-arrow-right-thick"></span></a></p>
        </div>
    </div>

    <hr class="mt-5 mb-4">
    <a class="btn btn-anr btn-pill" href="#">View All Events</a>
</div>