        <div>
            <nav class="navbar navbar-expand-lg navbar-light border-bottom py-0">
                <div class="container justify-content-md-end">
                    <ul class="navbar-nav small">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" aria-current="page" href="#">Language (En)</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#">Text Size (M)</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg navbar-light py-3">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <img class="img-anr-logo" src="images/anr_logo_color.svg">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto ms-md-5 mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="county.html" >Counties</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="forest_fuels.html" >Topics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="event.html">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="documentation.html">Documentation</a>
                            </li>
                        </ul>
                        <div>
                            <a class="btn btn-sm btn-anr btn-pill px-3 me-2"><span class="iconify" data-icon="mdi-account"></span> Login/Sign Up</a>
                            <a class="btn btn-sm btn-outline-gray btn-pill text-anr"><span class="iconify" data-icon="mdi-gift"></span> Donate</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>