<div class="row g-5">
    <div class="col-md-3 text-center">
        <div class="ratio ratio-1x1 bg-img">
            <img src="images/sample/portrait1.jpg">
        </div>
        <h4 class="mt-4">John Doe</h4>
        <p class="text-red small">Cheif Technology Officer</p>
    </div>
    <div class="col-md-3 text-center">
        <div class="ratio ratio-1x1 bg-img">
            <img src="images/sample/portrait2.jpg">
        </div>
        <h4 class="mt-4">Kiera Whalen</h4>
        <p class="text-red small">Framework Architect</p>
    </div>
    <div class="col-md-3 text-center">
        <div class="ratio ratio-1x1 bg-img">
            <img src="images/sample/portrait3.jpg">
        </div>
        <h4 class="mt-4">Anson Buck</h4>
        <p class="text-red small">Project Manager</p>
    </div>
    <div class="col-md-3 text-center">
        <div class="ratio ratio-1x1 bg-img">
            <img src="images/sample/portrait4.jpg">
        </div>
        <h4 class="mt-4">Dianna Smiley</h4>
        <p class="text-red small">HR Consultant</p>
    </div>
    <div class="col-md-3 text-center">
        <div class="ratio ratio-1x1 bg-img">
            <img src="images/sample/portrait5.jpg">
        </div>
        <h4 class="mt-4">Zane Mayes</h4>
        <p class="text-red small">Systems Lead</p>
    </div>
    <div class="col-md-3 text-center">
        <div class="ratio ratio-1x1 bg-img">
            <img src="images/sample/portrait6.jpg">
        </div>
        <h4 class="mt-4">Kristine Cox</h4>
        <p class="text-red small">Communications Specialist</p>
    </div>
</div>